
@media screen and (min-width: 700px) and (max-width: 1182px) {
  /* ... */
  .brand_part {
    background-color:#fff4e7;
    width: 1222px;
}
  .nav {
    height: 50px;
    width: 1222px;
    /* background-color: #4d4d4d; */
    position: relative;
  }
    
  
}



@media screen and (min-width: 596px) and (max-width: 792px) {
  /* ... */
  .brand_part {
    background-color:#fff4e7;
    width: 1222px;
}
  
nav {
  height: 50px;
  width: 1222px;
  /* background-color: #4d4d4d; */
  position: relative;
}
  
}





@media screen and (min-width: 662px) and (max-width: 1188px) {
  /* ... */
  .brand_part {
    background-color:#fff4e7;
    width: 1222px;
}

.nav {
  height: 50px;
  width: 1165px;
  /* background-color: #4d4d4d; */
  position: relative;
}
  
}



@media screen and (min-width: 610px) and (max-width: 672px) {
  /* ... */
  .brand_part {
    background-color:#fff4e7;
    width: 1222px;
}

.nav {
  height: 50px;
  width: 1165px;
  /* background-color: #4d4d4d; */
  position: relative;
}
  
}










@media screen and (min-width: 324px) and (max-width: 576px) {


.brandalltext h3 {
  font-size: 19px;
  color: black;
  font-weight: 300;
  padding-right: 228px;
  text-align: center;
  font-weight: 800;
}



  .brand_part {
    background-color:#fff4e7;
    width: 1222px;
}

.nav {
  height: 50px;
  width: 1165px;
  /* background-color: #4d4d4d; */
  position: relative;
}

 
}







@media screen and (min-width: 306px) and (max-width: 308px) {

  
.featureimage {
  display: grid;
  /* grid-template-columns: repeat(5,5fr); */
  gap: 37px;
  /* padding-left: 9px; */
  padding-top: -2px;
  /* padding-bottom: 70px; */
  /* margin-bottom: 57px; */
}





  
  
    .brand_part {
      background-color:#fff4e7;
      width: 1222px;
  }
  
  .nav {
    height: 50px;
    width: 1165px;
    /* background-color: #4d4d4d; */
    position: relative;
  }
  
   
  }
  
  



@media screen and (min-width: 332px) and (max-width: 356px) {
  
   
  .featureimage {
    display: grid;
    /* grid-template-columns: repeat(5,5fr); */
    gap: 24px;
    padding-left: 114px;
    margin-left: -7px;
  }
  

  
 
}